<style type="text/css">
	.page-header {
	  width: 100%;
	  background: #ffffff;
	  border-bottom: 1px solid #e5e5e5;
	  padding: 28px 16px;
	  text-align: center;
	}
	
	.page-header h1 {
	  margin: 0;
	  font-size: 32px;
	  font-weight: 600;
	  color: #0074C5; /* Clayton blue */
	text-align: center;
	}

	.disabled {
		cursor: not-allowed;
		pointer-events: none;
	}    
	a.benefits-resource.disabled .overlay {
        opacity: 1;
    }
	.benefits-resource-link {
        font-family: "Open Sans";
        font-size: 1em !important;
        color: #0077c8;
        font-weight: bold;
    }
    
    .benefits-resource, a.benefits-resource p {
        font-family: "Open Sans";
        font-size: 1.4em !important;
        color: #0077c8;
        font-weight: bold;
    }
    li.benefits-resource {
        font-size: 1em !important;
        margin-bottom: 0.75em;
    }
    .other-resources {
        margin-top: 4em;
    }
    .other-resources ul {
        list-style: disc;
    }
    .col a.benefits-resource {
        display: block !important;
    }
    /* New styles for overlay*/
    a.benefits-resource {
        position: relative;
        display: inline-block;
    }
    a.benefits-resource img {
        display: block;
    }
    a.benefits-resource .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* width: 100%;
        height: 100%; */
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
        opacity: 0;
        transition: opacity 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff; /* Text color for overlay content */
    	font-size: 1.2em;
    }
    a.benefits-resource:hover .overlay {
        opacity: 1;
    }
    .gc-disclaimer p {
    	font-size: 20px !important;
    }
    .gc-disclaimer p a {
    	text-decoration: underline;
    }
.benefits-resource img {
  width: 100%;
  height: auto;
  display: block;
}

</style>
